* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: red;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

.hero {
    width: 96%;
    background-color: white;
    margin-left: 2%;
    color: black;
    box-sizing: border-box;
    border-left: 2px solid red;
    border-right: 2px solid red;
    /* border-left: 2px solid rgb(47, 255, 61);
    border-right: 2px solid rgb(47, 255, 61); */
    cursor: default;
    margin-bottom: -100px;
}



/* NavBar */
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 50px;
    align-items: center;
    color: white;
    width: 100%;
    border-bottom: 2px solid red;
    z-index: 9999
}

nav .logo h1 {
    text-shadow:
        -1px 1px red;
}

nav .logo span {
    color: rgb(255, 24, 24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow:
        -1px 1px white;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
}

nav li a:hover {
    color: red;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Menu Toggle */
.menu-toggle {
    display: none;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: .3s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: -6px;
    top: -4px;
    cursor: pointer;
    opacity: 0;
}

/* Menu Toogle Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: red;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: red;
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
}

/* End NavBar */



/* Sub Judul */
section {
    margin: 100px auto;
    padding-top: 40px;
}

.sub {
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    /* border-top: 2px solid rgb(47, 255, 61);
    border-bottom: 2px solid rgb(47, 255, 61); */
    text-shadow:
        -1px 1px red;
    font-size: 1.1em;
}

.sub h2 span {
    text-shadow:
        -1px 1px white;
}

.sub span.merah {
    color: red;
}

.sub h2 {
    margin-bottom: 0;
}

.sub hr {
    width: 25%;
    height: 1px;
    background-color: red;
    box-shadow: 0px 0px 1px .5px white;
}

/* End Subjudul */



/* Home */
.container-dua {
    padding-top: 115px;
    margin-bottom: -160px;
    height: 505px;
    background-image: url(.//image/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.profile2 {
    transition: all .3s;
}

.profile img {
    width: 260px;
    height: 330px;
    border-radius: 100%;
    transition: all .3s;
    /* rgb(47, 255, 61); */
    box-shadow:
        0px 0px 0px 3px white,
        0px 0px 0px 4px red,
        0px 0px 0px 5px red,
        0px 0px 10px 6px rgba(0, 0, 0, .3);
}

.profile2:hover {
    scale: 1.1;
}

.profile2:hover img {
    box-shadow:
        0px 0px 0px 3px rgba(255, 255, 255, 1),
        0px 0px 0px 4px red,
        0px 0px 0px 5px red,
        0px 0px 10px 6px rgba(0, 0, 0, .6);
}

.profile .content {
    text-align: center;
    color: white;
    font-size: 1.4em;
    transition: all .3s;
    text-shadow:
        0 1px red,
        -1px 0 red,
        -1px 1px red,
        -2px 2px red;
}

.profile .content h1 {
    text-decoration: underline;
    padding: 0 0 0 30px;
}

.profile .content:hover {
    scale: 1.05;
}

/* End Home */


/* About */
.container-tiga {
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    margin: 90px 10px 0 10px;
    letter-spacing: .7px;
    border: 2px solid white;
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, .3);
}

.container-tiga:hover {
    box-shadow:
        inset 0 0 10px 5px rgba(255, 255, 255, .3),
        0 0 10px 2px rgba(0, 0, 0, .3);
}

.container-tiga .content2 {
    width: 45%;
    padding: 25px;
}

.container-tiga .quote {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.container-tiga .quote p:nth-child(2) {
    text-decoration: underline;
}

/* End About */



/* Education */
.container-empat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px 0 -100px 0;
}

.container-empat .box {
    width: 40%;
    height: 195px;
    background-color: black;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, .5);
    color: white;
    margin: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-empat .box span {
    margin: auto;
    font-size: large;
    padding: 10px;
    font-weight: bold;
}

.container-empat .box:hover {
    box-shadow:
        0px 0px 7px 1px rgb(0, 0, 0, .8),
        inset 0 0 10px 5px rgba(255, 255, 255, .3);
}

.container-empat .box:hover span {
    text-shadow: 1px 1px 1px red;
}

.box span:nth-child(2) {
    margin-top: -5px;
}

/* End Education */



/* Experience */
.container-lima {
    background-color: white;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}

.container-lima .header {
    width: 100%;
    padding-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* text-shadow:
        0 1px red,
        1px 1px red; */
}

.container-lima .header.utama {
    padding-top: 27px;
}

.container-lima hr {
    background-color: black;
    /* box-shadow: 0px 0px 1px red; */
    height: 2px;
    width: 60%;
}

.thumbnail {
    width: 47%;
    height: 330px;
    margin: 8px auto;
    border: 2px solid white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail:hover {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .5);
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail .overlay {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 330px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    opacity: 1;
    transition: .7s all;
    transform: scale(0) rotate(0);
}

.thumbnail .overlay span {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
}


.container-lima .thumbnail:hover .overlay {
    transform: scale(1);
    opacity: .8;
}

/* End Experience */



/* Galery */
.container-enam {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin-top: 45px;
    margin-bottom: -100px;
}

.card {
    width: 30%;
    background-color: black;
    margin: 10px auto;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .6);

}

.card .header2 {
    width: 100%;
    background-color: black;
    height: 167px;
}

.card .header2 img {
    width: 100%;
    height: 100%;
}

.card .thumbnail2 {
    text-align: center;
    padding: 15px;
    border-top: 2px solid white;
    height: 50px;
    display: flex;
}

.card .thumbnail2 p {
    margin: auto;
}

/* End Galery */



/* Contact */
.container-tujuh {
    display: flex;
    justify-content: center;
    height: 480px;
}

form {
    width: 50%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: -15px;
}

form input {
    width: 100%;
    height: 25px;
    border: 2px solid black
}

form textarea {
    width: 100%;
    border: 2px solid black
}

form .middle {
    display: flex;
    justify-content: center;
}

form button {
    width: 80px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 2px;
    transition: all .3s;
}

form button.loading {
    width: 80px;
    cursor: wait;
}

form:hover button {
    /* transform: scale(1.2); */
    color: white;
    background-color: black;
    border: 2px solid red;
}

form button:hover {
    color: red;
}

.none {
    display: none;
}

div .alert {
    margin: 30px auto;
    /* margin-bottom: -30px; */
    color: white;
    background-color: black;
    border: 2px solid red;
    padding: 2px 10px;
    text-align: center;
    letter-spacing: .7px;
    border: 2px solid red;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .4);
}

/* End Contact */



/* Footer */

footer {
    background-color: black;
    color: white;
    border-top: 2px solid red;
    text-align: center;
    z-index: 1;
}

footer .created {
    padding: 15px;
}

div.sosmed {
    box-sizing: border-box;
    background-color: white;
    border-radius: 200px;
    padding: 5px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.logo {
    margin-top: 3px;
}

.logo img {
    width: 25px;
    height: 25px;
    transition: all .2s;
}

.logo img:hover {
    scale: 1.2;
}

footer p a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer .copyright {
    background-color: red;
}

footer .copyright p {
    padding: 10px;
    font-size: .8em;
    color: rgb(227, 226, 226);
}

/* End Footer */



/* Responsive */
/* Fixed responsive about */
@media screen and (max-width: 1090px) {
    .container-tiga .content2 {
        width: 90%;
    }
}

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 65%;
    }

    .container-dua {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 185px;
    }

    /* Home */
    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile img {
        width: 250px;
        height: 300px;
        margin-top: -150px;
    }

    .profile .content {
        font-size: larger;
        margin-top: 30px;
    }

    /* About */
    .container-tiga {
        margin-top: 40px;
        margin-bottom: -100px;
    }


    .container-tiga .content2 {
        width: auto;
    }

    .container-tiga .quote {
        width: auto;
    }


    /* Education */
    .container-empat .box {
        height: 175px;
    }

    /* Experience */
    .thumbnail {
        width: 95%;
        height: 295px;
    }

    .thumbnail .overlay {
        height: 295px;
    }

    .container-lima hr {
        width: 90%;
    }

    /* Galery */
    .card {
        width: 48%;
    }
}


/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: black;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        width: 44%;
        transform: translateX(100%);
        opacity: 0;
        border-left: 2px solid red;
        border-bottom: 2px solid red;
        transition: all .5s;
    }

    nav ul li {
        margin-bottom: -30px;
    }

    nav ul.slide {
        transform: translate(0);
        opacity: 1;
    }

    /* subjudul */
    .sub hr {
        width: 33%;
    }

    /* Home */
    .container-dua {
        margin-top: -250px;
        height: 700px;
    }

    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile img {
        width: 230px;
        margin-top: 100px;
    }

    .profile .content {
        font-size: medium;
        margin-top: 40px;
    }

    .profile .content h1 {
        margin-left: -25px;
    }

    /* About */
    .container-tiga {
        display: block;
        overflow: hidden;
        letter-spacing: 0;
        margin-top: 30px;
    }

    /* Education */
    .container-empat {
        display: block;
        width: 238%;
        margin-top: 30px;
    }

    .container-empat .box {
        margin: 10px;
        margin-top: 20px;
    }

    /* Experience */
    .container-lima {
        display: block;
    }

    .thumbnail {
        height: 280px;
        margin-top: 20px;
    }

    .thumbnail .overlay {
        height: 280px;
    }

    .container-lima hr {
        width: 90%;
    }

    /* Galery */
    .card {
        width: 90%;
    }

    .card .header2 {
        height: 190px;
    }

    /* Contact */
    form {
        width: 70%;
    }


    /* Ukuran Vivo Z1 pro */
    @media screen and (max-width: 366px) {
        .sub hr {
            width: 60%;
        }

        .container-tiga {
            margin-top: 30px;
            text-align: center;
        }

        .container-empat .box {
            margin: 7px;
        }

        .profile img {
            margin-top: 100px;
        }

        .profile .content {
            margin-top: 45px;
        }

        .container-empat .box {
            margin-top: 20px;
        }

        div.alert {
            letter-spacing: 0;
        }
    }
}